
body {
    text-align: center;
    background-color: #e9e9e9;
}

h1 {
    color: #900907;
    font-size: 44px;
}

p {
    font-size: 24px;
    font-weight: 600;
}

button {
    padding: 10px 50px;
    font-size: 42px;
    border-radius: 28px;
    border: none;
    background-color: #FFC107;
    cursor: pointer;
}

.github-link {
    margin-top: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-link i {
    font-size: 70px;
    margin-right: 40px;
}

.github-link span {
    font-size: 40px;
    margin-right: 40px;
    font-style: normal;
    font-weight: 600;
}

.github-link-a {
    text-decoration: none;
    color: blue;
}

.github-ligo img {
    width: 500px;
    margin-top: 30px;
    box-shadow: 0 0 16px;
}